.profile__edit-button {
	background-image: url(../../../images/edit-profile.svg);
	padding: 0;
	background-color: transparent;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #FFFFFF;
	margin-left: 14px;
	outline: none;
}

.profile__edit-button:hover {
  opacity: 0.6;
	cursor: pointer;
}

@media (max-width: 767px) {
	.profile__edit-button {
		margin-left: 6px;
		width: 18px;
		height: 18px;
	}
}