.popup__input_error {
	border-bottom: 1px solid #FF0000;
	margin: 0 36px 5px;
}

@media (max-width: 768px) {
  .popup__input_error {
    margin: 0 22px 5px;
  }
}

.popup__input_error:last-of-type {
	margin-top: 15px;
}

@media (max-width: 768px) {
  .popup__input_error:last-of-type {
    margin-top: 0;
  }
}