.popup__button {
  margin: 13px 36px 36px;
  min-width: 358px;
  min-height: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  border-radius: 2px;
  outline: none;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup__button {
    min-width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin: 15px 22px 25px;
    height: 46px;
  }
}