.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 51px;
}

@media (max-width: 1024px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
    margin-bottom: 36px;
  }
}