.popup__error-message {
  display: none;
  margin-bottom: 10px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
	border-bottom-color: red;
}

.popup__error-message:last-of-type {
  margin-bottom: 0;
}