.profile__title {
	margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media (max-width: 767px) {
	.profile__title {
		font-weight: 500;
		font-size: 27px;
		line-height: 33px;
		display: flex;
		padding: 0;
		text-align: center;
	}
}