.card__image {
	max-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	width: 282px;
	overflow: hidden;
	padding-top: 100%;
	position: relative;
}

@media (max-width: 768px) {
  .card__image {
    width: 100%;
  }
}