.button__edit {
	background-image: url(../../../images/edit-profile.svg);
	padding: 0;
	background-color: transparent;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #FFFFFF;
}

.button__edit:hover {
  opacity: 0.6;
}